@media (max-width: 900px) {

    .imgback {
        background: rgba(0, 0, 0, .7) url(../img/image_center.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        height: 377px;
        width: 100%;
    }

    .imgback>.title {
        width: 350px;
        margin-left: 20px;
        font-size: 28px;
        line-height: 34px;
    }

    .imgback>.subtitle {
        width: 357px;
        margin-left: 20px;
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 44px;
    }

    .destaque {
        margin-top: 50px;
    }

    .destaque>#title {
        font-size: 28px;
        line-height: 55px;
    }

    .destaque>#subtitle {
        width: 374px;
        font-size: 16px;
        line-height: 29px;
    }

    .destaque>.cards {
        margin-top: 0;
    }

    .destaque>.cards>.card {
        width: 90%;
        margin: 15px 0 0 0;
    }

    .destaque > .cards > .card > img:hover {
        transform: scale(1.4);
    }

    .footer {
        margin-top: 35px;
    }
}

@media (min-width: 1600px) {

    .imgback>.title,
    .imgback>.subtitle {
        background-color: red;
        margin-left: 330px;
    }
}