@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.container {
    display: grid;
    grid-template-areas: 'header'
    'contentt'
    'footer';
    font-family: 'Montserrat', sans-serif;
}

.header, .footer {
    background-color: rgba(24, 24, 24, 1);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #F9F9F9;
}

.header {
    grid-area: header;
    font-size: 16px;
    line-height: 31px;
}

.content {
    grid-area: contentt;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgback {
    background:rgba(0,0,0,.7) url(../img/imageback-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 378px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgback > .title {
    margin-left: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #F9F9F9;
}

.imgback > .subtitle {
    margin-top: 19px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    width: 460px;
    color: #F9F9F9;
}

.destaque {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destaque > #title {
    font-weight: 600;
    font-size: 32px;
    line-height: 63px;
}

.destaque > #subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 13.5px;
    text-align: center;
}

.destaque > .cards {
    width: auto;
    margin-top: 32.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destaque > .cards > .card {
    background-color: #EBE9EA;
    padding: 76px 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 6.5px;
}

.footer {
    margin-top: 93.5px;
    grid-area: footer;
    font-size: 18px;
    position: sticky;
    line-height: 35px;
}