@media (max-width: 500px) {
    .container .logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container > .logos {
        width: calc(100% - 48px);
        margin-top: 32px;
        margin-bottom: 40.81px;
    }

    .container > .logos > p {
        display: none;
    }

    .container > .content > .art {
        display: none;
    }

    .personas > p {
        display: none;
    }

    .content > .personas > .icon {
        position: absolute;
        align-items: center;
        bottom: 32px;
    }

}