@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    width: 100vw;
    height: 100vh;
}

.container {
    background: url(../img/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.container>.logos {
    color: #ffffff;
    margin-top: 38px;
    width: 81%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 29px;
}

.container>.logos>img:nth-child(1) {
    width: 40px;
    height: 27.19px;
}

.container>.logos>p {
    font-size: 24px;
    line-height: 33px;
}

.container>.logos>img:nth-child(3) {
    width: 24px;
    height: 24px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.content > .personas {
    width: 100%;
    height: 100%;
    position: relative;
}

.valorant {
    -webkit-text-stroke: 0.7px #ffffff;
    color: transparent;
}

.content > .personas > p {
    margin-top: 210.51px;
    position: absolute;
    left: 10%;
}

.personagem {
    margin-top: 328.51px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: absolute;
    left: 10%;
}

.personagem>.ps {
    background: url(../img/stroke.png);
    width: 170px;
    height: 170px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personagem > .ps > img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.personagem > .ps > p {
    position: absolute;
    top: 190px;
    text-align: center;
    color: #FF4656;
}

.content>.personas>.icon {
    position: absolute;
    left: 10%;
    bottom: 24.64px;
}

.content>.personas>.icon>img {
    margin-right: 36px;
}

.personas p:nth-child(1) {
    text-transform: uppercase;
    font-size: 56px;
    line-height: 76px;
    -webkit-text-stroke: 2px solid #ffffff;
}

.content > .art {
    width: 100%;
    height: 100%;
    position: relative;
}

.content > .art > img {
    position: absolute;
    right: 24px;
    bottom: 0;
}