.sub-noticias>.article:nth-child(1)>.image:nth-child(1) {
    background: url(../img/1.png) center no-repeat;
    background-size: cover;
}

.sub-noticias>.article:nth-child(2)>.image:nth-child(1){
    background: url(../img/2.png) center no-repeat;
    background-size: cover;
}

.sub-noticias>.article:nth-child(3)>.image:nth-child(1) {
    background: url(../img/3.png) center no-repeat;
    background-size: cover;
}

.sub-noticias>.article:nth-child(4)>.image:nth-child(1){
    background: url(../img/4.png) center no-repeat;
    background-size: cover;
}

.sub-noticias>.article:nth-child(5)>.image:nth-child(1){
    background: url(../img/5.png) center no-repeat;
    background-size: cover;
}

.sub-principais>.noticias>.sub-noticias>.card:nth-child(3) {
    background: url(../img/principal-4.png) center no-repeat;
    background-size: cover;
}

.sub-principais>.noticias>.sub-noticias>.card:nth-child(4) {
    background: url(../img/principal-5.png) center no-repeat;
    background-size: cover;
}

.sub-principais>.noticias>.sub-noticias>.card:nth-child(5) {
    background: url(../img/principal-6.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(1) {
    background: url(../img/noticia-1.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(2) {
    background: url(../img/noticia-2.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(3) {
    background: url(../img/noticia-3.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(4) {
    background: url(../img/noticia-4.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(5) {
    background: url(../img/noticia-5.png) center no-repeat;
    background-size: cover;
}

main>.content>.recentes>.conteudo>.card:nth-child(6) {
    background: url(../img/noticia-6.png) center no-repeat;
    background-size: cover;
}
