@media (max-width:1200px) {
    body {
        overflow-x: hidden;
    }

    .content {
        padding: 0 30px;
    }

    .btn-menu {
        display: block;
    }

    .sub-principais {
        display: none;
    }

    .logo {
        font-size: 22px;
        line-height: 28px;
    }

    .title {
        font-size: 22px;
        line-height: 28px;
    }

    .menu {
        position: relative;
        padding-bottom: 20px
    }

    .menu-links {
        gap: 15px;
    }

    header > .content > .menu > .navbar > .menu-links {
        justify-content: center;
        padding-top: 20px;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .5s ease-in-out;
        z-index: 1;
    }

    header > .content > .menu > .navbar > .menu-links>a:hover {
        background-color: var(--color2-5);
        transform: scale(1.2);
        color: var(--color3) !important;
    }

    header > .content > .menu > .navbar > .menu-links.acionado {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .btn-conta {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
    }

    main>.content {
        padding-top: 48px;
        margin-bottom: 40px;
    }

    main>.content>div>p {
        width: 243px;
        font-size: 24px;
        line-height: 30px;
    }

    main>.content>div>span {
        margin-top: 16px;
        width: 312px;
        font-size: 14px;
        line-height: 20px;
    }

    main>.content>.atuais {
        margin-top: 80px;
        grid-template-columns: 1fr;
        grid-template-areas: 'principais';
    }

    .principais>.noticias>.card-1 {
        padding: 8px;
    }

    .principais>.noticias>.card>p {
        font-size: 14px;
        line-height: 18px;
    }

    .principais>.noticias>.sub-noticias {
        margin-bottom: 47px;
        height: 400px;
        gap: 25px;
    }

    .principais>.noticias>.sub-noticias>.article>.image {
        width: 150px;
        height: 110px;
    }

    .principais>.noticias>.sub-noticias>.article>.conteudo {
        padding-left: 8px;
        gap: 16px;
    }

    .principais>.noticias>.sub-noticias>.article>.conteudo>p {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 32px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .principais>.noticias>.sub-noticias>.article>.conteudo>span:nth-child(2) {
        display: none;
    }

    .principais>.noticias>.sub-noticias>.article>.conteudo>span:nth-child(3) {
        font-size: 12px;
        line-height: 10px;
    }

    .principais>.noticias>.sub-noticias>.article>.conteudo>.lorem {
        font-weight: 500;
        width: 90%;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }

    .grid-template
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
    }

    footer>.content>div>span {
        width: 312px;
        margin-bottom: 78px;
        font-size: 14px;
        line-height: 20px;
    }
}