@media (max-width: 900px) {
    .container {
        width: 100%;

    }

    .head {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .info {
        margin-top: 55px;
        /* margin-left: 20px; */
    }

    .info p:nth-child(1) {
        width: 100%;
        font-size: 32px;
    }

    .info p:nth-child(2) {
        width: 100%;
        margin-top: 18px;
        font-size: 18px;
    }

    .info button {
        margin-top: 32px;
    }

    .image {
        margin-top: 114px;
        /* margin-left: 32px; */
        /* margin-right: 32px; */
        margin-bottom: 88px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .image>img {
        width: 350px;
        height: auto;
    }

    .main>.cards {
        gap: 30px;
    }

    .footer {
        height: 700px;
    }

    .footer>div>p {
        margin-top: 83px;
        margin-bottom: 36px;
    }

    .footer>div>form {
        width: 100%;
    }

    form>input,
    form>textarea {
        height: 60px;
        margin-bottom: 20px;
        padding-left: 15px;
    }

    form>textarea {
        padding-top: 21px;
        resize: none;
        height: 165px;
    }

    .footer>div>button {
        margin-top: 30px;
        width: 100%;
        color: #ffffff;
    }
}