@use '../variables'
@use '../mixins'

.card
    @include mixins.card
    border-radius: variables.$border-radius-principal

    .close
        width: 100%
        height: 100%
        font-family: variables.$font-principal
        font-weight: 400
        font-size: 72px
        line-height: 83px
        background: variables.$color-red
        border: 2px solid variables.$color-orange
        border-radius: variables.$border-radius-principal