@use '../variables'
@use '../mixins'

section
    @include mixins.flex
    min-height: 100vh
    width: 100%
    flex-direction: column
    align-items: center
    margin: auto
    padding-bottom: 95px
    background: url('./src/assets/img/rectangle.png')
    background-repeat: no-repeat
    background-size: cover
    position: relative

    #light
        position: absolute
        width: 822px
        height: 822px
        background: radial-gradient(50% 50% at 50% 50%, #FFA900 0%, rgba(44, 44, 44, 0) 100%)
        opacity: 0.2
        top: -390px
        right: -300px
