@media (max-width: 500px) { 
    .container p:nth-child(1) {
        margin-top: 60px;
        font-size: 18px;
        line-height: 22px;
    }

    .container p:nth-child(2) {
        margin-top: 32px;
        font-size: 64px;
        line-height: 78px;
    }

    .content {
        /* display: none; */
        display: grid;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas: 
        'stars'
        'actions'
        'description';
    }

    .content div:nth-child(1) {
        display: none;
    }

    .content>div:nth-child(2) .description {
        width: 100%;
        grid-area: description;
        background-color: red;
    }

    .content>div:nth-child(2) .details {
        background-color: aqua;
        grid-area: stars;
    }

    .content>div:nth-child(2) .actions {
        background-color: burlywood;
        grid-area: actions;
    }
}