body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7) url(../img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    color: #FFFFFF;
}