@media (max-width: 500px) {
    body {
        width: 100vw;
    }

    .container {
        width: 100%;
    }

    .logos {
        margin-top: 14px;
        width: calc(100vw - 50.83px);
    }

    .logos > .icons > img{
        width: 20px;
        height: 20px;
    }

    .content {
        /* display: none; */
        width: 100%;
        height: auto;
    }

    .info {
        margin-top: 6px;
        display: none;
    }

    .content > .image {
        margin-top: 27px;
    }

    .content > .image > img {
        width: 300px;
        height: auto;
    }
}