@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --background: #f9f9f9;
    --background-2: #171717;
    --background-3: #00DF5E;
    --background-4: #828282;
    --background-5: #212121;
    --background-6: #333333;
    font-family: 'DM Sans', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--background-4);
}

.title-2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.subtitle-2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--background-4);
}

.circle {
    width: 62px;
    height: 62px;
    background-color: var(--background-5);
    border-radius: 100%;
}

.bolinha {
    flex-direction: column;
    width: 220px;
}

.border {
    border: 1px solid var(--background-6);
}

.dark {
    background-color: var(--background-2);
    color: var(--background);
}

.light {
    --background: #171717;
    --backgroun-2: #f9f9f9;
    --background-4: #333333;
    --background-5: #787373;
}

.disabled {
    background-color: #787373 !important;
}

.grid-template
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
}

@keyframes levantar {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}