@media (max-width: 800px) {
    #menu {
        display: block;
    }

    header {
        margin-top: 24px;
        width: 100%;
    }

    header>section {
        /* flex-direction: column-reverse; */
        justify-content: center;
        margin-top: 56px;
    }

    header>nav>div:nth-child(1) {
        font-size: 14px;
        line-height: 18px;
    }

    header > nav > div:nth-child(2) {
        position: absolute;
        top: 150%; left: 0;
        width:100%;
        background: var(--background-2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .5s ease-in-out;
    }

    header > nav > div:nth-child(2).active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header nav div:nth-child(2) ul
    {
        
        flex-direction: column;
        display: flex;
    }
    header nav div:nth-child(2) ul li
    {
        margin: 20px 0;
        /* text-align: center; */
    }

    header>section {
        margin: auto;
        margin-top: 110px;
        width: 80%;
        height: 150px;
        justify-content: center !important;
    }

    header>section>div:nth-child(1) {
        align-items: center !important;
    }

    header>section>.imagens {
        display: none;
    }

    header>section>div:nth-child(1) p:nth-child(1) {
        text-align: center;
        width: 270px;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 31px;
    }

    header>section>div:nth-child(1) p:nth-child(2) {
        width: 200px;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 32px;
    }

    header>section>div>.actions>div {
        font-size: 9.76083px;
        line-height: 13px;
    }

    .about-me {
        margin-top: 127px;
    }

    .about-me p {
        font-size: 14px;
        line-height: 20px;
    }

    .grid-template {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
        gap: 24px !important;
    }

    .card div {
        height: 100px;
        margin-bottom: 7.5px;
    }

    .title-2 {
        font-size: 13.05px;
        line-height: 17px;
    }

    .subtitle-2 {
        font-size: 10.15px;
        line-height: 13px;
    }

    .skills div {
        gap: 21px;
    }

    .skills div .skill {
        width: 90px;
        height: 90px;
        background-color: var(--background-5);
    }

    .skills div .skill img {
        width: auto;
        height: 48px;
    }

}