.container {
    max-width: 1400px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas:
        'header'
        'content'
        'footer';
    margin: auto;
}

header {
    grid-area: header;
    /* margin-top: 35px; */
    width: 100%;
    height: auto;
}

header>nav {
    padding-top: 35px;
    width: 80%;
    justify-content: space-between !important;
    margin: auto;
    position: relative;
}

header>nav>div:nth-child(1) {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}

header>nav>div>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

#menu {
    display: none;
}

#menu svg rect {
    fill: var(--background) !important;
}

ul>li>a {
    margin-right: 45px;
    color: var(--background);
    text-decoration: none;
}

ul>li:nth-child(4)>a {
    margin-right: 0;
}

header>section {
    margin: auto;
    /* margin-top: 110px; */
    margin-top: 169px;
    width: 80%;
    height: 255px;
    justify-content: space-between !important;
}

header>section>div:nth-child(1) {
    width: auto;
    flex-direction: column;
    align-items: flex-start !important;
}

header>section>.imagens {
    width: 300px;
    height: 100%;
}

header>section>div:nth-child(1) p:nth-child(1) {
    width: 300px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

header>section>div:nth-child(1) p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--background-4);
    margin-bottom: 35px;
}

header>section>div>.actions>div,
.cards > .grid-template > .card > section > a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

header>section>div>.actions>div:nth-child(1) {
    background-color: var(--background-3);
    padding: 12px 27px;
    margin-right: 15px;
}

header>section>div>.actions>div:nth-child(2) {
    background-color: transparent;
    border: 1px solid #333333;
    padding: 12px 18px;
}

header>section>.imagens {
    position: relative;
}

header>section>.imagens>img {
    height: 100%;
    width: 100%;
}

header>section>.imagens>img:nth-child(1) {
    position: absolute;
    height: auto;
    width: auto;
    animation: levantar 6s ease-in-out infinite;
}

main {
    grid-area: content;
    width: 100%;
}

.about-me {
    margin-top: 169px;
    flex-direction: column;
}

.about-me p {
    margin: auto;
    margin-top: 30px;
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--background-4);
}

.contato {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project,
.services,
.skills {
    width: 80%;
    margin: auto;
    margin-top: 127px;
    flex-direction: column;
}

.project .title,
.services .title,
.skills .title {
    margin-bottom: 30px;
}

.destaque {
    color: var(--background-3);
}

.cards {
    width: 100%;
}

.cards > .grid-template > .card > section {
    margin-top: 15px;
    gap: 20px;
    justify-content: flex-start !important;
}

.cards > .grid-template > .card > section > a {
    text-decoration: none;
    color: var(--background);
    padding: 8px 20px;
}

.cards > .grid-template > .card > section > a:nth-child(2) {
    background-color: var(--background-3);
}

.cards .card {
    background-color: var(--background-5);
    padding: 20px 25px;
}

.card div {
    background: var(--background-3);
    width: 100%;
    height: 130px;
    margin-bottom: 23px;
}

.card div .subtitle-2 {
    margin-top: 6px;
}

.services .servico {
    height: 240px;
    background-color: var(--background-5);
    border-bottom: 5px solid var(--background-3);
    padding: 30px;
}

.services div .servico p {
    font-weight: 500 !important;
    color: var(--background-4);
    width: 126px;
    margin-top: 40px;
}

.skills div {
    column-gap: 51px;
}

.skills div .skill {
    width: 150px;
    height: 150px;
    background-color: var(--background-5);
}

footer {
    margin-top: 185px;
    grid-area: footer;
    height: 60px;
    width: 100%;
    background-color: var(--background-5);
    flex-direction: row;
    gap: 20px;
}

footer .subtitle {
    width: auto;
    color: var(--background);
    flex-direction: row;
}

footer .subtitle p {
    margin-left: 5px;
    color: var(--background-3);
}

#theme {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-top: 3px solid var(--background);
    border-left: 3px solid var(--background);
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    background-color: transparent;
    color: var(--background);
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-3);
    border-radius: 20px;
}